@import 'normalize.styl'
@import 'variables.styl'
@import 'mixins.styl'
@import 'shared.styl'
@import 'media.styl'

@import 'virtual.styl'

html, body, #app
 height 100%
 margin 0
 padding 0

// Default links
a
	text-decoration none
	color inherit

// Turn box sizing on everywhere
*, *:before, *:after {
	box-sizing border-box
}

// Make images fill containers by default
img
	max-width 100%
	height auto

// Default to antialising everything
* {
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	box-sizing border-box
}

// Default typography styles
body
	background white
