.virtual-hotel
	background-size cover
	background-position center center
	padding 10vh 10vw
	text-align right

	color black

	p
		max-width 500px
		margin 10px 0 0
		display inline-block

	a
		font-size 18px
		font-weight 700
		border-bottom 2px solid transparent
		transition border-color 150ms ease-in-out
		line-height 200%
		margin-top 30px
		display block

		&:hover
			border-bottom-color black
