@import '~variables.styl'

.submissions
	position relative
	height 100vh
	background-size cover
	background-position left center
	color white
	background-color black

	.header
		position absolute
		top 50%
		left 80px
		max-width 40%
		transform translate(0, -50%)

	.buttons
		margin-top 35px


	@media(max-width:tl)
		height auto
		padding 80px

		.header
			position relative
			transform none
			left 0
			top 0

	@media(max-width:t)
		padding 40px

		.header
			max-width 80%

	@media(max-width:m)
		padding 40px 20px
		background-position 34% center
