@import '~variables.styl'

.submissions
	position relative
	height 100vh
	background-size cover
	background-position left center
	color white

	.header
		position absolute
		top 50%
		left 80px
		max-width 40%
		transform translate(0, -50%)

	.buttons
		margin-top 35px
