@import '~variables.styl'

.submissions
	position relative
	background-size cover
	background-position left center
	color white
	background-color black
	padding 80px

	h4
		line-height 120%
		margin-bottom 25px
		
	p
		font-size rem(20px)

	.buttons
		margin-top 35px


	@media(max-width:tl)
		height auto
		padding 80px

	@media(max-width:t)
		padding 40px

	@media(max-width:m)
		padding 40px 20px
		background-position 34% center
