@import '~variables.styl'

.press
	padding 20vh 80px
	background white
	position relative
	text-align center

	p
		max-width 600px
		margin 30px auto 0

	ul
		// column-count 2
		margin 35px 0
		padding 0

	li
		list-style none
		margin 0 0 30px 0
		padding 0

	a
		border-bottom 2px solid transparent
		transition border-color 150ms ease-in-out
		font-weight 700
		line-height 200%

		&:hover
			border-bottom-color black

	.source
		font-style italic


	@media(max-width:tl)
		padding 100px 80px

	@media(max-width:t)
		padding 40px

	@media(max-width:m)
		padding 40px 20px
		text-align left

		a
			line-height 150%
			margin-bottom 5px

		li
			font-size 13px

		ul
			margin-top 15px
