@import '~variables.styl'

#menu
	background rgba(white, 0.5)
	position fixed
	top 0
	left 0
	right 0
	height 50px
	z-index 10
	text-align right
	text-transform uppercase
	font-weight 700
	padding 0 80px

	li
		display inline-block
		list-style none
		line-height 50px
		margin 0 20px

		&:last-of-type
			margin-right 0

		a
			font-size: 12px;
			text-decoration: none;
			letter-spacing: 2px;
