@import '~variables.styl'

.marquee
	height 100vh
	background white
	position relative

	.image
		position absolute
		left 0
		top 0
		right 65%
		bottom 0
		background-size cover

	.right
		position absolute
		left 35%
		top 0
		right 0
		bottom 0

	.content
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		text-align center

	.logo
		max-width 150px

	.m5logo
		max-width 60px
		vertical-align middle

	p
		line-height 150%
		font-size 14px

	a.event-link
		color black
		font-weight 700

		border-bottom 2px solid transparent
		transition border-color 150ms ease-in-out
		font-weight 700
		line-height 200%

		&:hover
			border-bottom-color black

	@media(max-width:d)
		.image
			right 55%

		.right
			left 45%

	@media(max-height:650px)
		.logo
			max-width 90px

		.m5logo
			max-width 50px

		p
			font-size 13px

	@media(max-width:t)
		height auto
		padding 60px 20px

		.image
			right 0
			opacity 0.2

		.right
			position relative
			transform none
			left 0
			top 0
			width 100%

		.content
			position relative
			transform none
			left 0
			top 0
			width 100%
