@import '~variables.styl'

.artists
	padding 100px 80px
	background white
	position relative
	text-align center

	p
		max-width 600px
		margin 30px auto 0

	ul
		// column-count 2
		margin 35px 0 0
		padding 0
		column-count 3

	li
		list-style none
		margin 0 0 10px 0
		padding 0
		font-weight 700

	a
		border-bottom 2px solid transparent
		transition border-color 150ms ease-in-out

		&:hover
			border-bottom-color black

	h4
		font-size 20px
		margin 23px 0 25px
		line-height 100%

	@media(max-width:tl)
		height auto
		padding 80px

	@media(max-width:t)
		padding 40px

		li
			font-size 13px

	@media(max-width:m)
		padding 40px 20px

		ul
			column-count 2
