@import '~variables.styl'

.footer
	padding 80px
	background black
	position relative
	color gold

	img.logo
		max-width 80px

	.details
		max-width 65%

	.contact
		float right
		width 30%
		text-align right

	h4
		margin 0 0 60px 0
		padding 0
		line-height 20px

	.fi-social-facebook
		font-size 26px

	a
		transition color 150ms ease-in-out

		&:hover
			color white

	@media(max-width:tl)
		padding 80px

	@media(max-width:t)
		padding 40px

	@media(max-width:m)
		padding 40px 20px 240px


		h4
			font-size 26px
			margin-bottom 30px

		.contact
			float none
			position absolute
			bottom 40px
			left 0
			right 0
			width 100%
			text-align center
			padding 0

		.details
			max-width 100%
