@import '~variables.styl'

gold = #b1aca2

.footer
	padding 80px
	background black
	position relative
	color gold

	img.logo
		max-width 80px

	.details
		max-width 65%

	.contact
		float right
		width 30%
		text-align right

	h4
		margin 0 0 60px 0
		padding 0
		line-height 20px
